/**
 * Color
 */
$color-primary-light: #dbe4ff;
$color-primary: #3B5BDB;
$color-black: #161616;
$color-white: #f2f4f8;

.ns-root {

  /**
   * Color
   */
  --color-primary: #3B5BDB;
  --color-primary-light: #dbe4ff;
  --color-foreground: #161616;
  --color-background: #f2f4f8;
  --color-background-light: #ffffff;

  /**
   * Sizes
   */
  --base: 16pt;
  --base-xxs: 0.625;
  --base-xs: 0.78125;
  --base-s: 1;
  --base-m: 1.25;
  --base-l: 1.5625;
  --base-xl: 1.96875;
  --base-xxl: 2.5;
  --xxs: calc(var(--base) * var(--base-xxs));
  --xs: calc(var(--base) * var(--base-xs));
  --s: calc(var(--base) * var(--base-s));
  --m: calc(var(--base) * var(--base-m));
  --l: calc(var(--base) * var(--base-l));
  --xl: calc(var(--base) * var(--base-xl));
  --xxl: calc(var(--base) * var(--base-xxl));


  --border-radius: 5;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/**
 * Font
 */
@mixin font-normal {
  font-family: 'Atkinson Hyperlegible', 'Atkinson-Hyperlegible-Regular-102';
  font-weight: normal;
}
@mixin font-bold {
  font-family: 'Atkinson Hyperlegible', 'Atkinson-Hyperlegible-Bold-102';
  font-weight: bold;
}
@mixin font-italic {
  font-family: 'Atkinson Hyperlegible', 'Atkinson-Hyperlegible-Italic-102';
  font-weight: normal;
  font-style: italic;
}
@mixin font-bold-italic {
  font-family: 'Atkinson Hyperlegible', 'Atkinson-Hyperlegible-BoldItalic-102';
  font-weight: bold;
  font-style: italic;
}
@mixin font-icon {
  font-family: 'Material Icons Round', 'MaterialIconsRound-Regular';
  font-size: 24;
}
