@import '@nativescript/theme/css/core.css';
/* @import '@nativescript/theme/css/default.css'; */
@import 'shared/styles/variables.scss';


.ns-root {
  @include font-normal;
  font-size: var(--s);

  background-color: var(--color-background);
}

.icon {
  @include font-icon;
}

actionBar{
  background: #3B5BDB;
  color: white;
  @include font-bold;
  font-size: 30;

}
